<tr>
  <td
    style="background:#800000; color:#FFD700; text-align:center; padding:15px; font-size:13px;"
  >
    <p style="margin:0;">&copy; {{date}} ISPSC. All Rights Reserved.</p>
    <p style="margin:0; font-size:12px; color:#ffdead;">This is an automated
      email, please do not reply.</p>
  </td>
</tr>