<tr>
  <td
    style="background:#800000; color:#FFD700; padding:20px; text-align:center;"
  >
    <img
      src="cid:ispscLogo@ispscTracer.ee"
      alt="ISPSC Logo"
      width="50"
      style="display:block; margin:0 auto;"
    />
    <h1 style="margin:10px 0 0; font-size:16px; font-weight:700;">Ilocos Sur
      Polytechnic State College</h1>
  </td>
</tr>